# PREPROCESSING

In [302]:
import pandas as pd

# zomato=pd.read_csv("/kaggle/input/zomato-bangalore-restaurants/zomato.csv")
zomato = pd.read_csv("/kaggle/input/zomato-bangalore-restaurants/zomato.csv")

In [303]:
zomato.shape

(51717, 17)

In [304]:

zomato.isnull().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [305]:
zomato.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [306]:
zomato.shape

(51717, 17)

In [307]:
#Removing the Duplicates
zomato.duplicated().sum()
zomato.drop_duplicates(inplace=True)

In [308]:
#Reading Rate of dataset
zomato['rate'].unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', nan, '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '-', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [309]:
import numpy as np
#Removing '/5' from Rates
zomato = zomato.loc[zomato.rate !='NEW']
zomato = zomato.loc[zomato.rate !='-'].reset_index(drop=True)
remove_slash = lambda x: x.replace('/5', '') if type(x) == str else x
zomato.rate = zomato.rate.apply(remove_slash).str.strip().astype('float')
zomato['rate'].unique()

array([4.1, 3.8, 3.7, 3.6, 4.6, 4. , 4.2, 3.9, 3.1, 3. , 3.2, 3.3, 2.8,
       4.4, 4.3, 2.9, 3.5, nan, 2.6, 3.4, 4.5, 2.5, 2.7, 4.7, 2.4, 2.2,
       2.3, 4.8, 4.9, 2.1, 2. , 1.8])

In [310]:
zomato['rate'].unique()

array([4.1, 3.8, 3.7, 3.6, 4.6, 4. , 4.2, 3.9, 3.1, 3. , 3.2, 3.3, 2.8,
       4.4, 4.3, 2.9, 3.5, nan, 2.6, 3.4, 4.5, 2.5, 2.7, 4.7, 2.4, 2.2,
       2.3, 4.8, 4.9, 2.1, 2. , 1.8])

In [311]:
zomato.isnull().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1190
location                          21
rest_type                        225
dish_liked                     25948
cuisines                          45
approx_cost(for two people)      341
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [312]:
# 1. Remove rows where rate,location and cost is null
zomato = zomato[zomato['rate'].notna()].reset_index(drop=True)
zomato = zomato[zomato['approx_cost(for two people)'].notna()].reset_index(drop=True)
zomato = zomato[zomato['location'].notna()].reset_index(drop=True)

# 2. Replace missing text columns with 'Unknown'
cols_to_fix = ['rest_type', 'dish_liked','cuisines']

for col in cols_to_fix:
    zomato[col] = zomato[col].fillna("")

In [313]:
zomato.isnull().sum()

url                              0
address                          0
name                             0
online_order                     0
book_table                       0
rate                             0
votes                            0
phone                          578
location                         0
rest_type                        0
dish_liked                       0
cuisines                         0
approx_cost(for two people)      0
reviews_list                     0
menu_item                        0
listed_in(type)                  0
listed_in(city)                  0
dtype: int64

In [314]:
#Deleting Unnnecessary Columns
zomato=zomato.drop(['address','url','phone','listed_in(city)','listed_in(type)','menu_item'],axis=1)
zomato.isnull().sum()

name                           0
online_order                   0
book_table                     0
rate                           0
votes                          0
location                       0
rest_type                      0
dish_liked                     0
cuisines                       0
approx_cost(for two people)    0
reviews_list                   0
dtype: int64

In [315]:
zomato["approx_cost(for two people)"] = (
    zomato["approx_cost(for two people)"].str.replace(",", "").astype(int)
)

zomato["cuisines"] = zomato["cuisines"].str.lower().str.split(", ")
zomato["rest_type"] = zomato["rest_type"].str.lower().str.split(", ")
zomato["dish_liked"] = (
    zomato["dish_liked"].fillna("unknown").str.lower().str.split(", ")
)

In [316]:
# flatten all cuisines lists into one list
all_cuisines = set([item for sublist in zomato["cuisines"] for item in sublist])

print("Total unique cuisines =", len(all_cuisines))
print(sorted(all_cuisines))

Total unique cuisines = 106
['', 'afghan', 'afghani', 'african', 'american', 'andhra', 'arabian', 'asian', 'assamese', 'australian', 'awadhi', 'bakery', 'bar food', 'bbq', 'belgian', 'bengali', 'beverages', 'bihari', 'biryani', 'bohri', 'british', 'bubble tea', 'burger', 'burmese', 'cafe', 'cantonese', 'charcoal chicken', 'chettinad', 'chinese', 'coffee', 'continental', 'desserts', 'drinks only', 'european', 'fast food', 'finger food', 'french', 'german', 'goan', 'greek', 'grill', 'gujarati', 'healthy food', 'hot dogs', 'hyderabadi', 'ice cream', 'indonesian', 'iranian', 'italian', 'japanese', 'jewish', 'juices', 'kashmiri', 'kebab', 'kerala', 'konkan', 'korean', 'lebanese', 'lucknowi', 'maharashtrian', 'malaysian', 'mangalorean', 'mediterranean', 'mexican', 'middle eastern', 'mithai', 'modern indian', 'momos', 'mongolian', 'mughlai', 'naga', 'nepalese', 'north eastern', 'north indian', 'oriya', 'paan', 'pan asian', 'parsi', 'pizza', 'portuguese', 'rajasthani', 'raw meats', 'roast chicken', 'rolls', 'russian', 'salad', 'sandwich', 'seafood', 'sindhi', 'singaporean', 'south american', 'south indian', 'spanish', 'sri lankan', 'steak', 'street food', 'sushi', 'tamil', 'tea', 'tex-mex', 'thai', 'tibetan', 'turkish', 'vegan', 'vietnamese', 'wraps']

In [317]:
all_rest_types = set([item for sublist in zomato["rest_type"] for item in sublist])

print("Total unique rest types =", len(all_rest_types))
print(sorted(all_rest_types))

Total unique rest types = 25
['', 'bakery', 'bar', 'beverage shop', 'bhojanalya', 'cafe', 'casual dining', 'club', 'confectionery', 'delivery', 'dessert parlor', 'dhaba', 'fine dining', 'food court', 'food truck', 'irani cafee', 'kiosk', 'lounge', 'meat shop', 'mess', 'microbrewery', 'pub', 'quick bites', 'sweet shop', 'takeaway']

# NORMALIZING TAGS

In [318]:
def normalize_tags(tag_list):
    if not isinstance(tag_list, list):
        return []

    clean_tags = []
    for tag in tag_list:
        tag = tag.strip().lower()

        # Replace spaces with underscore inside the tag
        tag = tag.replace(" ", "_")

        clean_tags.append(tag)

    return list(set(clean_tags))  # remove duplicates

# Apply normalization BEFORE creating tags
zomato["cuisines"] = zomato["cuisines"].apply(normalize_tags)
zomato["rest_type"] = zomato["rest_type"].apply(normalize_tags)
zomato["dish_liked"] = zomato["dish_liked"].apply(normalize_tags)

In [319]:
zomato["cuisines"].iloc[0]

['chinese', 'mughlai', 'north_indian']

In [320]:
zomato["MeanRating"] = (
    zomato.groupby(["name", "location"])["rate"].transform("mean")
)
zomato[["name", "location", "rate", "MeanRating"]].head(10)

,name,location,rate,MeanRating
0,Jalsa,Banashankari,4.1,4.1
1,Spice Elephant,Banashankari,4.1,4.1
2,San Churro Cafe,Banashankari,3.8,3.8
3,Addhuri Udupi Bhojana,Banashankari,3.7,3.7
4,Grand Village,Basavanagudi,3.8,3.8
5,Timepass Dinner,Basavanagudi,3.8,3.8
6,Rosewood International Hotel - Bar & Restaurant,Mysore Road,3.6,3.6
7,Onesta,Banashankari,4.6,4.6
8,Penthouse Cafe,Banashankari,4.0,4.0
9,Smacznego,Banashankari,4.2,4.2

In [321]:
# Create a stable permanent ID
zomato["restaurant_id"] = zomato.index + 1

# Reorder columns (optional but cleaner)
cols = ["restaurant_id"] + [c for c in zomato.columns if c != "restaurant_id"]
zomato = zomato[cols]

zomato.head()

,restaurant_id,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,MeanRating
0,1,Jalsa,Yes,Yes,4.1,775,Banashankari,[casual_dining],"[pasta, paneer_lajawab, dum_biryani, sweet_cor...","[chinese, mughlai, north_indian]",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",4.1
1,2,Spice Elephant,Yes,No,4.1,787,Banashankari,[casual_dining],"[thai_green_curry, chicken_biryani, chocolate_...","[thai, chinese, north_indian]",800,"[('Rated 4.0', 'RATED\n Had been here for din...",4.1
2,3,San Churro Cafe,Yes,No,3.8,918,Banashankari,"[casual_dining, cafe]","[hot_chocolate, pink_sauce_pasta, salsa, veg_s...","[italian, mexican, cafe]",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",3.8
3,4,Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,[quick_bites],[masala_dosa],"[south_indian, north_indian]",300,"[('Rated 4.0', ""RATED\n Great food and proper...",3.7
4,5,Grand Village,No,No,3.8,166,Basavanagudi,[casual_dining],"[panipuri, gol_gappe]","[rajasthani, north_indian]",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",3.8

In [322]:
zomato.shape

(41418, 13)

# SAVING THE PREPROCESSED DATASET

In [323]:

# For each restaurant name, we want to:

# Column	How it should be created	Why
# cuisines	union of all branches	preserve all cuisines
# rest_type	union of all branches	preserve types
# dish_liked	union of all branches	don’t lose dishes
# MeanRating	mean of branches	stable rating
# approx_cost(for two people)	median	robust to outliers
# votes	sum	popularity signal
# location	❌ NOT kept	branch-specific
# lat/lng	❌ NOT kept	branch-specific

zomato_unique = (
    zomato
    .groupby("name", as_index=False)
    .agg({
        "cuisines": lambda x: list(set(sum(x, []))),
        "rest_type": lambda x: list(set(sum(x, []))),
        "dish_liked": lambda x: list(set(sum(x, []))),
        "MeanRating": "mean",
        "approx_cost(for two people)": "median",
        "votes": "sum"
    })
)

print("All branches:", zomato.shape)
print("Unique restaurants:", zomato_unique.shape)

zomato_unique.head(50)

All branches: (41418, 13)
Unique restaurants: (6627, 7)

,name,cuisines,rest_type,dish_liked,MeanRating,approx_cost(for two people),votes
0,#FeelTheROLL,[fast_food],[quick_bites],[],3.400000,200.0,14
1,#L-81 Cafe,"[fast_food, beverages]",[quick_bites],[burgers],3.900000,400.0,432
2,#refuel,"[beverages, cafe]",[cafe],"[mocktails, pasta, thick_shakes, sandwiches]",3.700000,400.0,111
3,1000 B.C,"[sandwich, burger, rolls, arabian]",[quick_bites],"[shawarma, sandwiches]",3.200000,300.0,294
4,100ÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ°C,"[biryani, north_indian]",[casual_dining],[chicken_biryani],3.700000,450.0,123
5,11 to 11 Express Biriyanis,"[biryani, kebab]",[quick_bites],[],3.500000,300.0,44
6,1131 Bar + Kitchen,"[asian, italian, continental, north_indian]","[casual_dining, bar]","[pizza, sangria, nachos, cocktails, craft_beer...",4.500000,1500.0,16938
7,12th Main - Grand Mercure,"[asian, european]",[fine_dining],"[halwa, pasta, salads, coffee, creme_brulee, c...",4.100000,2000.0,3541
8,1441 Pizzeria,"[salad, pizza]",[casual_dining],"[hot_chocolate, wood_fire_pizza, thin_crust_pi...",4.100000,800.0,664
9,1522 - The Pub,"[chinese, continental, north_indian]",[pub],"[pasta, pizza, devils_chicken, chilli_chicken,...",4.212000,1400.0,41172
10,154 Breakfast Club,"[continental, cafe]",[cafe],"[pancakes, nutella_waffle, omelette, bbq_sandw...",4.000000,900.0,24226
11,1722 Urban Bistro,"[fast_food, chinese, biryani, north_indian]",[casual_dining],"[pasta, pizza, chicken_lollipop, veg_burger, b...",4.100000,600.0,2443
12,18+ Ice Cafe,"[fast_food, chinese, beverages, cafe]",[cafe],[],3.500000,550.0,145
13,1947,"[chinese, continental, north_indian]",[casual_dining],"[pasta, tomato_soup, chaat, gajar_ka_halwa, dh...",4.021429,950.0,20590
14,1980s Games Cafe,"[fast_food, cafe]",[cafe],"[pasta, fries, maggi, burgers, sandwiches]",3.400000,400.0,290
15,1992 Chats - Space,[street_food],[quick_bites],[],3.700000,200.0,99
16,1Q1,"[korean, asian, malaysian, vietnamese, chinese...","[casual_dining, bar]","[cheesecake, veg_sushi, stir_fried_noodles, co...",4.300000,2500.0,9615
17,1TO3 Kitchen,"[continental, chinese, italian, north_indian, ...",[delivery],[],3.100000,800.0,11
18,2 Statez,"[kerala, chinese, north_indian, south_indian, ...",[casual_dining],"[neer_dosa, buttermilk, egg_roast, fish_curry,...",3.700000,600.0,841
19,20 Char - Sterlings MAC Hotel,"[continental, chinese, north_indian, south_ind...","[casual_dining, bar]","[pizza, salads, rasmalai, gulab_jamun, mutton_...",4.000000,1400.0,3384
20,20 Feet High,"[salad, steak, american, continental]","[casual_dining, bar]","[beef_steak, pasta, chicken_steak, cocktails, ...",4.000000,1000.0,17782
21,21 C - La Marvella Sarovar Premiere Hotel,[continental],[casual_dining],[],3.600000,1000.0,30
22,24 Carats - The Capitol,"[asian, continental]",[casual_dining],[],3.100000,1000.0,552
23,24 Hours Cake Delivery,[bakery],[delivery],[],3.300000,700.0,16
24,24 Hours Coffee Drop - La Classic,[cafe],[cafe],[],3.400000,800.0,18
25,24/7 - The Lalit Ashok Bangalore,"[chinese, italian, continental, north_indian]",[fine_dining],"[pancakes, omelette, salads, rasmalai, biryani...",4.000000,3000.0,688
26,24/7 Food Service,"[south_indian, fast_food, north_indian]","[delivery, takeaway]",[],2.950000,300.0,28
27,24@43 - The Oterra,"[asian, continental, north_indian]",[fine_dining],"[pasta, wine, salads, tea, sunday_brunch, momo...",4.100000,3000.0,536
28,24th Main,"[south_indian, chinese, north_indian]",[casual_dining],"[paneer_satay, butter_naan, gajar_ka_halwa, ta...",4.100000,800.0,6186
29,29 Degrees North,"[fast_food, street_food, north_indian]",[quick_bites],"[paneer_bhurji, kulcha, dal_makhani, chaat, ra...",3.900000,250.0,1136
30,2nd Home Restaurant,"[south_indian, chinese, north_indian]",[quick_bites],[],3.700000,500.0,231
31,3 Leafs,"[south_indian, chinese, north_indian]",[casual_dining],"[butter_naan, rumali_roti, biryani, paratha, m...",3.700000,600.0,384
32,3 Spice,"[chinese, north_indian]",[casual_dining],"[hyderabadi_biryani, vegetarian, dragon_chicke...",3.900000,450.0,1880
33,30 Square,"[nepalese, momos, tibetan]",[quick_bites],"[veg_momos, wai_wai_bhel, brownie, cheese_momo...",4.200000,400.0,6128
34,360 Atoms Restaurant And Cafe,"[chinese, italian, continental, cafe]",[cafe],[],3.100000,400.0,91
35,36th Cross Coffee Mane,"[coffee, fast_food, chinese, beverages, cafe, ...","[casual_dining, quick_bites]","[, biryani]",3.650000,200.0,118
36,37 China Town,"[continental, thai, chinese, north_indian, sou...",[casual_dining],[],3.500000,900.0,116
37,"3B's - Buddies, Bar & Barbecues","[bbq, european, north_indian, mediterranean]","[casual_dining, bar]","[phirni, chicken_curry, paan_shot, cocktails, ...",4.418750,1100.0,20822
38,3G's - Gulp & Groove,"[chinese, finger_food, continental]","[casual_dining, bar]","[pasta, pizza, nachos, dragon_prawn, cocktails...",4.100000,1100.0,5304
39,3rd Innings,"[burger, chinese, italian, north_indian]","[casual_dining, bar]",[],3.000000,1000.0,51
40,4 Mangoes,[ice_cream],[kiosk],[],3.700000,200.0,30
41,4 Seasons Restaurant,"[middle_eastern, chinese, seafood, north_indian]",[casual_dining],"[veg_platter, veg_pulao, chicken_kebab, tandoo...",3.700000,1000.0,1995
42,4 States,[south_indian],[food_court],[],3.200000,400.0,4
43,4700BC Popcorn,[fast_food],"[delivery, takeaway]",[chocolate_popcorn],4.100000,500.0,55
44,4Foodiez,"[south_indian, chinese, north_indian]",[quick_bites],[],3.650000,300.0,164
45,4Foodiez - The Restaurant,"[south_indian, street_food, chinese, north_ind...",[quick_bites],[],3.000000,400.0,46
46,4K Biryani,"[chinese, north_indian]",[delivery],[],3.300000,700.0,4
47,4th Tea Block,[cafe],[cafe],"[rose_tea, hibiscus_tea, ginger_tea, masala_chai]",4.000000,150.0,248
48,50-50 EATING HOUSE,"[south_indian, biryani]",[quick_bites],[],3.200000,100.0,8
49,52 Wall Street,"[american, finger_food, continental]","[casual_dining, bar]","[chilli_chicken, pizza, buffalo_wings, cocktai...",3.900000,1400.0,5912

# CUISINE SCORING

In [324]:
def apply_weighted_cuisine_scoring(df, cuisine_counter):
    if not cuisine_counter:
        df["cuisine_score"] = 0
        return df

    df["cuisine_score"] = df["cuisines"].apply(
        lambda rest_cui: sum(cuisine_counter.get(c, 0) for c in rest_cui)
    )

    max_score = df["cuisine_score"].max()
    if max_score > 0:
        df["cuisine_score"] = df["cuisine_score"] / max_score

    return df

# REST TYPE SCORING

In [325]:
def apply_weighted_rest_type_scoring(df, rest_counter):
    if not rest_counter:
        df["rest_type_score"] = 0
        return df

    df["rest_type_score"] = df["rest_type"].apply(
        lambda rt: sum(rest_counter.get(t, 0) for t in rt)
    )

    max_score = df["rest_type_score"].max()
    if max_score > 0:
        df["rest_type_score"] = df["rest_type_score"] / max_score

    return df

# DISH LIKED SCORING

In [326]:
# Convert this to below:['dum_biryani', 'paneer_lajawab', 'sweet_corn_soup']
# "dum_biryani paneer_lajawab sweet_corn_soup"


# Convert list of dish_liked tags into a space-separated string
zomato_unique["dish_string"] = zomato_unique["dish_liked"].apply(
    lambda x: " ".join(x) if isinstance(x, list) else ""
)

zomato_unique["dish_string"].iloc[0]

''

In [327]:
zomato_unique.shape

(6627, 8)

In [328]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

def build_dish_tfidf(df):
    # Use .loc to safely assign the new column
    df.loc[:, "dish_string"] = df["dish_liked"].apply(lambda x: " ".join(x))
    
    vectorizer = TfidfVectorizer()
    tfidf_matrix = vectorizer.fit_transform(df["dish_string"])
    
    return vectorizer, tfidf_matrix


def apply_weighted_dish_score(df, dish_counter, vectorizer, tfidf_matrix):
    if not dish_counter:
        df["dish_score"] = 0
        return df

    query_words = []
    for dish, freq in dish_counter.items():
        query_words.extend([dish] * freq)  # repeat dish by weight

    query_str = " ".join(query_words)

    user_vec = vectorizer.transform([query_str])
    sim_scores = cosine_similarity(user_vec, tfidf_matrix).flatten()

    df["dish_score"] = sim_scores
    return df

# RATING SCORING

In [329]:
def apply_rating_score(df):
    df.loc[:, "rating_score"] = df["MeanRating"] / 5
    return df

# COST SCORING

In [330]:
def apply_cost_score(df, user_budget):
    
    if user_budget is None:
        df["cost_score"] = 0
        return df
    df.loc[:, "cost_diff"] = abs(df["approx_cost(for two people)"] - user_budget)
    df.loc[:, "cost_score"] = 1 / (df["cost_diff"] + 1)

    
    return df

# LOCATION SCORING

In [331]:
import numpy as np
import math

def haversine(lat1, lon1, lat2, lon2):
    R = 6371  # earth radius in KM

    lat1, lon1, lat2, lon2 = map(math.radians, [lat1, lon1, lat2, lon2])

    dlat = lat2 - lat1
    dlon = lon2 - lon1

    a = (
        math.sin(dlat / 2) ** 2
        + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2) ** 2
    )
    c = 2 * math.asin(math.sqrt(a))

    return R * c  # distance in km

In [332]:
def load_location_coordinates(path="/kaggle/input/blrcoordinates/location.csv"):
    """
    CSV format:
    location, latitude, longitude
    HSR, 12.91, 77.64
    BTM, 12.90, 77.61
    ...
    """
    coords = pd.read_csv(path)
    coords["location"] = coords["location"].str.lower().str.strip()

    coord_dict = {}
    for _, row in coords.iterrows():
        coord_dict[row["location"]] = (row["latitude"], row["longitude"])

    return coord_dict

In [333]:
def find_closest_branch(restaurant_name, user_lat, user_lng, coord_dict):
    """
    zomato_allBranches : original dataframe with ALL branches (has location)
    restaurant_name    : restaurant brand name (string)
    user_lat, user_lng : user / group centroid coordinates
    coord_dict         : mapping of location -> (lat, lng)
    """

    branches = zomato[zomato["name"] == restaurant_name]

    best_branch = None
    best_distance = float("inf")

    for _, row in branches.iterrows():

        loc = str(row["location"]).lower().strip()

        # Skip branches whose location we cannot geocode
        if loc not in coord_dict:
            continue

        rest_lat, rest_lng = coord_dict[loc]
        dist = haversine(user_lat, user_lng, rest_lat, rest_lng)

        if dist < best_distance:
            best_distance = dist
            best_branch = row

    return best_branch, best_distance

In [334]:
def compute_distance_score(distance_km):
    return 1 / (distance_km + 1)

# FINAL COMPLETE SCORING

In [335]:
def apply_final_score(df):
    df["final_score"] = (
        0.35 * df["cuisine_score"] +
        0.20 * df["rest_type_score"] +
        0.25 * df["dish_score"] +
        0.10 * df["rating_score"] +
        0.10 * df["cost_score"]
    )
    return df

In [347]:
def get_final_recommendations_with_distance(
    # df_full, 
    top30_df, user_lat, user_lng, coord_dict, top_k=10
):
    final_rows = []

    for _, row in top30_df.iterrows():

        rest_name = row["name"]
        # print(rest_name)
        best_branch, best_distance = find_closest_branch(
            # df_full,
            rest_name, user_lat, user_lng, coord_dict
        )

        if best_distance > 10:   # skip anything beyond 10 km
            continue

        if best_branch is None:
            continue

        dist_score = compute_distance_score(best_distance)

        final_score_adjusted = (
            0.35 * row["cuisine_score"] +
            0.20 * row["rest_type_score"] +
            0.25 * row["dish_score"] +
            0.10 * row["rating_score"] +
            0.10 * row["cost_score"] +
            0.30 * dist_score
        )

        best_branch = best_branch.copy()
        best_branch["distance_km"] = best_distance
        best_branch["distance_score"] = dist_score
        best_branch["final_score_adjusted"] = final_score_adjusted

        final_rows.append(best_branch)

    final_df = pd.DataFrame(final_rows)
    final_df = final_df.sort_values("final_score_adjusted", ascending=False)

    return final_df.head(top_k)

# Group Based Recommendation
1. aggregate_group_preferences(users_list)
2. aggregate_group_location(users_list)
3. aggregate_group_budget(users_list)
4. recommend_group(df_full, coord_dict, users_list)

In [338]:

from collections import Counter

def aggregate_group_cuisines(users_list):
    all_cuisines = []

    for user in users_list:
        if user.get("cuisines"):
            all_cuisines.extend(user["cuisines"])

    if not all_cuisines:
        return None

    return Counter(all_cuisines)   # <-- frequencies preserved

In [339]:
def aggregate_group_rest_types(users_list):
    all_types = []

    for user in users_list:
        if user.get("rest_type"):
            all_types.extend(user["rest_type"])

    if not all_types:
        return None

    return Counter(all_types)

In [340]:
def aggregate_group_dishes(users_list):
    all_dishes = []

    for user in users_list:
        if user.get("dish_pref"):
            all_dishes.extend(user["dish_pref"])

    if not all_dishes:
        return None

    return Counter(all_dishes)

In [341]:
def aggregate_group_budget(users_list):
    budgets = [user["budget"] for user in users_list if user.get("budget")]

    if not budgets:
        return None

    return int(np.median(budgets))

In [342]:
def aggregate_group_location(users_list):
    lats = [u["lat"] for u in users_list if u.get("lat") is not None]
    lngs = [u["lng"] for u in users_list if u.get("lng") is not None]

    if not lats or not lngs:
        return None, None

    group_lat = sum(lats) / len(lats)
    group_lng = sum(lngs) / len(lngs)

    return group_lat, group_lng

In [343]:
def recommend_group(df_full, coord_dict, users_list, top_k=10):

    # 1. Aggregate weighted preferences
    cuisine_counter = aggregate_group_cuisines(users_list)
    rest_counter = aggregate_group_rest_types(users_list)
    dish_counter = aggregate_group_dishes(users_list)
    group_budget = aggregate_group_budget(users_list)
    group_lat, group_lng = aggregate_group_location(users_list)

    # 2. Build dish TF-IDF
    vectorizer, tfidf_matrix = build_dish_tfidf(df_full.copy())

    # 3. Apply weighted scoring
    df = df_full.copy()

    df = apply_weighted_cuisine_scoring(df, cuisine_counter)
    df = apply_weighted_rest_type_scoring(df, rest_counter)
    df = apply_rating_score(df)               # unchanged
    df = apply_cost_score(df, group_budget)   # unchanged
    df = apply_weighted_dish_score(df, dish_counter, vectorizer, tfidf_matrix)

    # 4. Base scoring to pick top 30
    df = apply_final_score(df)
    top30 = df.sort_values("final_score", ascending=False).head(30)

    # 5. Apply distance + branch selection
    final_results = get_final_recommendations_with_distance(
        # df_full=df,
        top30_df=top30,
        user_lat=group_lat,
        user_lng=group_lng,
        coord_dict=coord_dict,
        top_k=top_k
    )

    return final_results

In [344]:
zomato_unique.columns

Index(['name', 'cuisines', 'rest_type', 'dish_liked', 'MeanRating',
       'approx_cost(for two people)', 'votes', 'dish_string'],
      dtype='object')

# 1️⃣ TESTING SINGLE USER MODE

In [348]:
coord_dict=load_location_coordinates();

user = [
    {
        "cuisines": ["chinese"],
        "rest_type": ["casual_dining"],
        "dish_pref": ["biryani"],
        "budget": 600,
        "lat": 12.91,
        "lng": 77.64
    }
]
final_results = recommend_group(
    df_full=zomato_unique,
    coord_dict=coord_dict,
    users_list=user,
    top_k=10
)
final_results[
    ["name", "cuisines", "rest_type",
     "approx_cost(for two people)", "location",
     "distance_km", "distance_score", "final_score_adjusted"]
]

,name,cuisines,rest_type,approx_cost(for two people),location,distance_km,distance_score,final_score_adjusted
12576,M.M Restaurant,"[biryani, chinese, north_indian]",[casual_dining],600,HSR,0.179028,0.848157,1.232447
7865,Abhiruchi,"[biryani, chinese, andhra]","[delivery, takeaway]",400,HSR,0.179028,0.848157,1.122763
3171,PSV's Andhra Paradise,"[hyderabadi, north_indian, chinese, andhra]",[casual_dining],600,HSR,0.179028,0.848157,1.084462
6839,Aasife & Brothers Biriyani Centre,"[south_indian, biryani, chinese, north_indian]",[casual_dining],600,HSR,0.179028,0.848157,1.070738
32472,Nakkala's Food Hunt,"[chinese, north_indian]",[casual_dining],600,Marathahalli,8.284074,0.107711,0.980313
1410,Dilish Kitchens,"[chinese, north_indian]",[casual_dining],500,BTM,3.322704,0.231337,0.944391
6645,Embers - Nandhana Grand Hotel,"[continental, chinese, thai, south_indian, nor...",[casual_dining],900,Koramangala 6th Block,3.478399,0.223294,0.943320
18839,36th Cross Coffee Mane,"[chinese, north_indian]",[casual_dining],500,BTM,3.322704,0.231337,0.942650
6858,Hyderabadi Biryani Hub,"[biryani, chinese, north_indian]",[casual_dining],600,BTM,3.322704,0.231337,0.935597
3193,Hyderabadi Biriyani,"[hyderabadi, biryani, chinese, north_indian]",[casual_dining],800,Bellandur,4.803150,0.172320,0.919394

# MULTI-USER TESTING

In [349]:
users = [
    {
        "cuisines": ["chinese", "thai"],
        "rest_type": ["cafe"],
        "dish_pref": ["biryani"],
        "budget": 700,
        "lat": 12.91,
        "lng": 77.64
    },
    {
        "cuisines": ["italian"],
        "rest_type": ["casual_dining"],
        "dish_pref": ["pasta"],
        "budget": 1000,
        "lat": 12.93,
        "lng": 77.62
    },
    {
        "cuisines": ["chinese"],
        "rest_type": ["cafe"],
        "dish_pref": ["noodles"],
        "budget": 800,
        "lat": 12.97,
        "lng": 77.64
    },
    {
        "cuisines": ["north indian"],
        "rest_type": ["casual_dining"],
        "dish_pref": ["paneer"],
        "budget": 600,
        "lat": 12.94,
        "lng": 77.65
    }
]

In [350]:
final_group_results = recommend_group(
    df_full=zomato_unique,
    coord_dict=coord_dict,
    users_list=users,
    top_k=10
)

In [351]:
final_group_results[
    [
        "name",
        "location",
        "cuisines",
        "rest_type",
        "distance_km",
        "distance_score",
        "final_score_adjusted"
    ]
]

,name,location,cuisines,rest_type,distance_km,distance_score,final_score_adjusted
8667,ECHOES Koramangala,Koramangala 5th Block,"[continental, chinese, italian, american, nort...","[casual_dining, cafe]",2.242451,0.308409,0.779237
7444,Pipabu,Koramangala 4th Block,"[chinese, italian, continental]",[casual_dining],2.081830,0.324483,0.727987
6645,Embers - Nandhana Grand Hotel,Koramangala 6th Block,"[continental, chinese, thai, south_indian, nor...",[casual_dining],2.087798,0.323855,0.673804
8779,Smoke - The Sizzler House,Koramangala 7th Block,"[continental, bbq, chinese, italian, thai, steak]",[casual_dining],1.726820,0.366728,0.673796
4529,Xian,Ulsoor,"[chinese, thai]",[casual_dining],5.148451,0.162643,0.648935
3430,Cafe Mondo,HSR,"[pizza, chinese, italian, cafe]","[casual_dining, cafe]",3.045968,0.247160,0.635550
1016,Chow San,Bannerghatta Road,"[momos, chinese, thai]",[casual_dining],6.728428,0.129392,0.621598
2772,Once Upon a Rooftop,Jayanagar,"[pizza, chinese, italian, thai]","[casual_dining, bar]",4.935735,0.168471,0.618582
4102,Berrylicious Cafe,MG Road,"[ice_cream, pizza, cafe, continental, desserts...","[casual_dining, cafe]",5.458078,0.154845,0.613547
2492,La Casa,Jayanagar,"[chinese, italian, continental, north_indian]",[casual_dining],4.935735,0.168471,0.609236